backports.shutil-get-terminal-size
beautifulsoup4
colorama
cx-Freeze
decorator
enum34
ez-setup
ipython
ipython-genutils
monotonic
numpy
pathlib2
pickleshare
prompt-toolkit
PyAudio
Pygments
pyttsx
pywin32
requests
scipy
simplegeneric
six
SpeechRecognition
traitlets
vboxapi
wcwidth
win-unicode-console
